<div class="recipe"> 
 		<div>
 			<a href=".html"> rezeptname </a> 
 				<p> beschreibungstext </p>
 		</div>
 		<div class="thumb"> <a href=".html" >	<img src="img/sm-.jpg" alt="name"> </a>
 			</div>
 	</div>
 <div class="clear"></div>	