
*{font-family:"Times New Roman", Times, serif; }

* {-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}

body{ background-color:#993D00;}



ul{ margin:15px;
	padding:0px;
	list-style-type:none;}

 .col1 ul li{ background-color:none;
 		height: 50px;
		width: 250px;
		text-align: center;
		font-size: 20px;
		color: #FFD6AD;
		font-weight: bold;
		line-height: 50px;
		text-align: center;
		text-decoration: none;}
	
ul li a {color:#FFD6AD;
			text-decoration: none;
			font-weight: bold;
			background-color:none;
			width: 250px;
			height: 50px;
			font-size: 20px;
			line-height: 50px;
			text-align: center;}


#banner{width:100%;
		  display: flex; 
		  flex-wrap: wrap;
		  margin-bottom: 40px;}

.grid {width: 100%;
		margin: 0 auto;
      max-width: 1400px;
      display:flex;}		  
		
.col1{ width:20%;}	

.col2{width:60%;
		 background-color: #FFD6AD; 
		 border-radius:25px;
		 color:#993D00;
		 padding: 10px;
		 margin: 0;}	
		 		 
#info {text-align:left;
			font-size: 18px;
			color:#6E2C00;
			margin-top: 20px;}	
			
.col2 a {text-decoration:none;
			color: #993D00;
			font-weight: bold;
			font-size:20px;}		
			
.col2 p { max-width:600px;
			color:#6E2C00;
			padding-left: 30px;}
		
		
					 
.thumb {
    float: right;
    max-width: 40%;
    padding-left:20px;}
    
 #tips{color:#993D00;
 		 max-width: 800px;
 		 line-height: 25px;
 		 padding: 5px;}   
    
.thumb img {max-width: 100%;}
    
.recipe {max-width: 100%;
    		display: flex;
    		padding: 5px;}
   		
.recipe h1 {color: #632c00;}

.big{max-width: 500px;
		padding-left: 25px;
		float: right;}

.big img {max-width: 450px;}

.col2 ul li {color: #632c00; 
				font-size: 18px;}
    
.clear {clear: both;
			margin-bottom: 30px;}